@font-face {
    font-family: 'Quicksand';
    src: url(https://kimchanskij.github.io/project_js/fonts/Quicksand-Light.ttf);
}

body {
    background-image: url(https://www.10bestdesign.com/blog/content/images/2021/04/simple-css-hover-effects-how-to-video-learn-css-animations.gif);
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}

.header {
    position: relative;
    display: flex;
    height: 100px;
    box-shadow: 0px 7px 20px -2px rgba(34, 60, 80, 0.6);
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-title {
    color: white;
    position: relative;
    margin: auto;
    z-index: 1;
}

.main {
    margin: 65px auto;
    min-height: 428px;
}

.mycard {
    text-align: center;
    background-image: linear-gradient(131deg, #82c4c5, #88b2c2, #aadddd, #abc5db);
    width: 280px;
    color: white;
    position: relative;
    z-index: 1;
    border-radius: 3rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-bottom: 15px;
}

.card-body-info {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
}

.card-text {
    word-break: break-all;
    margin: 0px auto;
    padding: 0px 10px;
}

.card-number {
    font-size: 28px;
    font-weight: bold;
    margin: 0px auto;
    padding: 10px;
}


.card-img {

    border-radius: 3rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 280px;
    height: 220px;
}

.article {
    position: relative;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 200px;
}

.article-section-button {
    font-size: 14px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card-title {
    font-weight: bold;
    margin: 10px auto 0px;
    font-size: 22px;
}

.footer {
    position: relative;
    display: flex;
    box-shadow: 0px -7px 20px -2px rgba(34, 60, 80, 0.6);
}

.footer::after {
    content: "";
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.add {
    position: relative;
    z-index: 1;
    margin: 25px auto;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #302586, #35419d, #3c3ac6, #444bd6);
}

.btn {
    text-wrap: nowrap;
}

.edit {
    display: block;
    margin: 0px auto 10px auto;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #302586, #35419d, #3c3ac6, #444bd6);
}

.open {
    width: 90px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #302586, #35419d, #3c3ac6, #444bd6);
}

.delete {
    width: 90px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #f30808, #e83e3e, #e16262, #d64d4d);
}

.mymodal,
.modal-editor {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(14, 18, 22, 0.5);
}

.icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
}

.mymodal-body,
.modal-editor-body {
    margin: auto;
    background-color: #fff;
    width: 600px;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #82c4c5, #8ec2bf, #91d3d3, #abc5db);
}

.input-title {
    font-size: 16px;
    font-weight: 500;
}

.btn-close {
    margin: 20px 0px 0px 20px;
}

.input {
    margin: 10px 0px 0px 15px;
}

.input-group {
    width: 570px;
}

span {
    height: 30px;
}

.form-control {
    height: 30px;
}

.textarea {
    height: 70px;
    max-height: 200px;
}

.picture {
    font-size: 14px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.apply {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #302586, #35419d, #3c3ac6, #444bd6);
}

.modal-add {
    margin-left: 15px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #302586, #35419d, #3c3ac6, #444bd6);
}

.modal-card {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(14, 18, 22, 0.5);
}

.modal-card-body {
    margin: auto;
    width: 550px;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #82c4c5, #88b2c2, #aadddd, #abc5db);
}

.modal-card-inner {
    display: flex;
}

.modal-card-info {
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 10px 15px;
}

.modal-card-text {
    word-break: break-all;
    width: 270px;
    padding-left: 20px;
}

.modal-card-img {
    margin-left: 35px;
    width: 210px;
    height: 210px;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #82c4c5, #88b2c2, #aadddd, #abc5db);
}

.modal-card-img-inner {
    border-radius: 3rem;
    width: 210px;
    height: 210px;
}